{% extends "base.html" %}
{% block titulo %}Plataforma Olga de Chica{% endblock %}

{% block navegacion %}
    {{ navegacion([
        (url_for('recursos.nuevo'), 'Registrar un recurso'),
        (url_for('recursos.listar'), 'Consultar recursos'),
        (url_for('bocetos.nuevo'), 'Registrar un boceto'),
        (url_for('bocetos.listar'), 'Consultar bocetos'),
        (url_for('filminas.listar_filminas'), 'Consultar filminas'),
        (url_for('filminas.mostrar_formulario'), 'Registrar una filmina'),
        (url_for('tags.mostrar_formulario'), 'Crear un tag'),
    ]) }}
{% endblock %}

{% block contenido %}
<h1>Plataforma Olga de Chica</h1>
        <p>Gestión de la colección documental.</p>
{% endblock %}
