{% extends "base.html" %}
{% block titulo %}Crear tag{% endblock %}

{% block navegacion %}
    {{ navegacion([
        ('/', 'Inicio'),
        (url_for('tags.listar'), 'Consultar tags'),
    ]) }}
{% endblock %}

{% block contenido %}
<h1>Crear tag</h1>


        <form method="post" action="/tags">
            <label for="identificador">Identificador</label>
            <input
                id="identificador"
                name="identificador"
                type="text"
                required
            >

            <label for="nombre">Nombre</label>
            <input
                id="nombre"
                name="nombre"
                type="text"
                required
            >

            <button type="submit">Guardar tag</button>
        </form>
{% endblock %}
