{% extends "base.html" %}
{% block titulo %}Filmina creada{% endblock %}

{% block contenido %}
<dialog open class="modal-confirmacion">
        <h2>Filmina creada correctamente</h2>
        <p>La filmina fue guardada exitosamente.</p>


<a
    class="boton"
    href="{{ url_for('filminas.mostrar_formulario') }}"
>
    Registrar otra filmina
</a>

    <p><a href="{{ url_for('filminas.consultar_filmina', identificador=resultado.identificador) }}">Ver filmina registrada</a></p>
    <p><a href="{{ url_for('filminas.listar_filminas') }}">Consultar filminas</a></p>
    </dialog>
{% endblock %}
